@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-size: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #65FCAE;
}

header {
    background-image: linear-gradient(to top, #2B6C4A, #65FCAE);
    padding: 30px;
    color: white;
}
header h1, p {
    text-align: center;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
nav a:hover {
    background-color: #2B6C4A;
}
main {
    background-color: #fff;
    margin: auto;
    padding: 30px;
}

main section h1, h2 {
    font-family: 'android';
    color: #36835b;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    background-image: linear-gradient(to right, #54d29169, #fff);
}

section p {
    text-indent: 30px;
    text-align: justify;
}

.sub1 {
    margin: auto;
}

.video {
    background-color: #2B6C4A;
}
.video iframe {
    margin: auto;
}
img {
    margin: auto;
}
picture img{
    margin: auto;
}

.extra {
    background-color: #65FCAE;
    height: 500px;
    border-radius: 20px;
    margin-top: 20px;
}
.extra h3 {
    background-color: #00B257;
    color: white;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}
.extra p {
    padding: 5px;
    text-align: justify;
    display: inline;
}

span {
    color: #3c9868;
}

footer {
    padding: 30px;
    text-align: center;
    color: white;
}